* {
    outline: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navtitle {
    font-family: 'Oswald';
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.navlinks {
    display: flex;
}

.navlinks ul {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
}

.navlinks ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.9rem;
    text-transform: uppercase;
}

.navlinks ul li a {
    color: black;
    text-decoration: none;
}

.main-banner {
    height: 300px;
    /* width: 100%; */
    background-image: url('./images/woodbg.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: top;
}

.banner-header {
    font-family: 'Oswald';
    font-size: 4rem;
    color: white;
    position: relative;
    text-align: center;
    top: 4rem;
}

.banner-subheader {
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    top: 4.5rem;
}

.main-row {
    /* height: 15rem; */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main-div {
    background-color: #333;
}

.main-text {
    font-family: 'Inter';
    padding: 2rem;
    color: white;
    font-size: 1.8rem;
    width: 75%;
    margin: 4rem auto;
}

.main-text a {
    font-size: 1.5rem;
    background-color: rgb(111, 111, 111);
    color: white;
    text-decoration: none;
    padding: .5rem;
}

@media (max-width:720px) {
    .navlinks ul li {
        display: none;
    }

    .main-text {
        font-size: 1rem;
        width: 90%;
    }

    .main-text a {
        font-size: .8rem;
        background-color: rgb(111, 111, 111);
        color: white;
        text-decoration: none;
        padding: .2rem;
    }
}

.main-row2 {
    margin-bottom: 5rem;
}

.c1 {
    background-image: url(./images/pine.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100%;
    height: 300px;
    /* width: 25%; */
    /* margin: 2rem; */
}

.c2 {
    background-image: url(./images/holding.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 160%;
    height: 300px;
    /* width: 25%; */
    /* margin: 0rem 5rem; */
}

.c3 {
    background-image: url(./images/cypress.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 150%;
    height: 300px;
    /* width: 25%; */
    /* margin: 2rem; */
}

.box-text {
    color: white;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Oswald';
    font-size: 3rem;
    text-shadow: 0px 0px 15px black;
    transition: scale ease-in-out .5s;
}

.box-text:hover {
    scale: 1.2;
}

.footer-box1 {
    background-color: #333;
    text-align: left;
}

.footer-box2 {
    background-color: #333;
    text-align: right;
}

#navtitle-footer {
    color: white;
}

.footer-navlinks ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.footer-navlinks li {
    display: flex;
    padding: 1rem;
    margin-top: .35rem;
}

.footer-navlinks a {
    color: white;
    text-decoration: none;
}